<div class="index-container-column-1">

  <%= simple_form_for :feature_results, remote: true, url: cities_path, method: :get do |f| %>

<!-- to add once re-seeded: cost_of_living culture  -->
<!-- need to 'defailt sliders' so that your search goes back to what you filtered it to -->
  <%= f.button :submit, "Search", class: "btn-main-yellow small"%>
    <% @cities.pluck(:id).each do |id| %>
      <%= f.hidden_field :city_ids, multiple: true, value: id %>
    <% end %>
    <br>
    <% filters = %i(air_pollution drinking_water cleanliness crime_rate internet cost_of_living culture) %>
    <% filters.each do |filter| %>
      <% default_score = params.dig(:feature_results, filter) || 0 %>
      <i class="fas fa-star"></i>
      <%= f.label filter, required: false, class: "label" %>
      <br>
      <%= f.range_field filter, min: 0, max: 100, value: default_score,  class: "slider", id: "slider_#{filter}" %>
      <br>
    <% end %>
  <% end %>
</div>



