<div class="index-container-column-2">


  <div class="d-flex flex-row justify-content-between">

  </div>

  <% if @cities.blank? %>
    <h1>Sorry, your search yeilded no results. Please try again.</h1>
    <% else %>
      <%= @cities.size %>
      <div class="header">
        <a href="#default" class="logo">My Next Trip</a>
        <div class="header-right">
          <%= link_to "All", cities_path %>
          <%= link_to "Countries", countries_path %>
          <%= link_to "Cities", cities_path %><p> <<< At the moment the "cities" button directs to the same index as the "All" button</p>
        </div>
      </div>

      <button onclick="mapHide()">MAP</button>
      <div mapHide = "mapHide">
        <div
        id="map"
        style="width: 100%; display: none;
        height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        class="mapbox-gl mapboxgl-map"
        ></div>
      </div>

      <div class="row">
        <%  @cities.each do |city| %>
        <div class="col-md-3 mb-3">
          <%= render partial: 'shared/citycard', locals: { city: city } %>
        </div>
        <% end %>
      </div>

      <div class="row">
        <%  @countries.each do |country| %>
          <div class="col-md-3 mb-3">
            <%= render partial: 'shared/countrycard', locals: { country: country } %>
          </div>
        <% end %>
      </div>
    <% end %>
</div>

