<div class="index-container-column-2">

  <div class="d-flex flex-row justify-content-between">

  </div>

  <% if @countries.blank? %>
    <h1>Sorry, your search yeilded no results. Please try again.</h1>
    <% else %>
      <p>We found <%= @cities.size %> relevant cities</p>
      <div class="header">
        <div class="header-right">
          <%= link_to "All", cities_path, class: "btn-main-yellow small"%>
          <%= link_to "Countries", countries_path, class: "btn-main-yellow small" %>
          <%= link_to "Cities", cities_path, class: "btn-main-yellow small"%>
          <button onclick="mapHide()" class="btn-main-yellow small">MAP</button>
        </div>
      </div>


      <div mapHide = "mapHide">
        <div
        id="map"
        style="width: 100%; visibility: hidden; position: absolute;
        height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        class="mapbox-gl mapboxgl-map"
        ></div>
      </div>

      <div class="row">
        <%  @cities.each do |city| %>
        <div class="col-lg-3 mb-3">
          <%= render partial: 'shared/citycard', locals: { city: city } %>
        </div>
        <% end %>
      </div>

      <div class="row">
        <%  @countries.each do |country| %>
          <div class="col-lg-3 mb-3">
            <%= render partial: 'shared/countrycard', locals: { country: country } %>
          </div>
        <% end %>
      </div>
    <% end %>
</div>
