<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "My Next Trip", root_path %>
      </li>
      <li class="nav-item">
        <%= link_to "Booking providers", city_booking_providers_path(:id) %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Regions
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "Africa", region_path(:id), class: "dropdown-item" %>
          <%= link_to "Asia", region_path(:id), class: "dropdown-item" %>
          <%= link_to "Australia & Pacific", region_path(:id), class: "dropdown-item" %>
          <%= link_to "Central America & Caribbean", region_path(:id), class: "dropdown-item" %>
          <%= link_to "Europe", region_path(:id), class: "dropdown-item" %>
          <%= link_to "Middle East", region_path(:id), class: "dropdown-item" %>
          <%= link_to "North America", region_path(:id), class: "dropdown-item" %>
          <%= link_to "South America", region_path(:id), class: "dropdown-item" %>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Currency
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "AUD", class: "dropdown-item" %>
          <%= link_to "EUR", class: "dropdown-item" %>
          <%= link_to "USD", class: "dropdown-item" %>
          <%= link_to "GBP", class: "dropdown-item" %>
        </div>
      </li>
    </ul>
    <%= form_tag cities_path, method: :get do %>
      <%= text_field_tag :query,
      params[:query],
      placeholder: "Search for a destination" %>
      <%= submit_tag "Search", class: "btn btn-flat" %>
    <% end %>
  </div>
</nav>
