
<form action="" class="wizard js-wizard">
  <div class="wizard-steps-container js-wizard-steps is--step-0">
    <img src="<%= asset_path "travel-stuff.svg" %>" alt="background" class="wizard-background-img"/>
    <div class="wizard-steps-step wizard-steps-step-0 js-intro-step">
        <div class="d-flex align-items-center justify-content-between">
          <div class="onboard-left">
            <p class="onboard-title">What's the plan for your next trip?</p>
            <p class="onboard-subtitle">Find, compare and easily plan your next travel destination</p>
            <div class="onboard-bottom d-flex justify-content-around">
              <p><strong>350</strong> cities</p>
              <p><strong>190</strong> countries</p>
              <p><strong>500+</strong> booking providers</p>
            </div>
            <div class="onboard-btn">
              <button class="js-wizard-next btn-main-yellow large" type="button">Find your next trip.</button>
            </div>
          </div>
          <div class="onboard-img-div">
            <img src="<%= asset_path "onboard.png" %>" alt="" class="onboard-img">
          </div>
        </div>
    </div>
    <div class="wizard-steps-step wizard-steps-step-1">
        <div>
          <p class="wizard-title">1 / 4</p>
        </div>
      <div class="sentence-checkboxes">

        I like
          <input type="checkbox" name="theme" id="romantic" value="romantic" checked class="sentence-checkboxes-input">
          <label class="sentence-checkboxes-label" for="romantic">romance,</label>

          <input type="checkbox" name="theme" id="city" value="city" class="sentence-checkboxes-input">
          <label class="sentence-checkboxes-label" for="city">cities,</label>

          <input type="checkbox" name="theme" id="beach" checked value="beach" class="sentence-checkboxes-input">
          <label class="sentence-checkboxes-label" for="beach">beaches,</label>

          <input type="checkbox" name="theme" id="culture" value="culture" class="sentence-checkboxes-input">
          <label class="sentence-checkboxes-label" for="culture">culture,</label>

          <input type="checkbox" name="theme" id="mountains" value="mountains" class="sentence-checkboxes-input">
          <label class="sentence-checkboxes-label" for="mountains">mountains,</label>

          <input type="checkbox" name="theme" id="shopping" checked value="shopping" class="sentence-checkboxes-input">
          <label class="sentence-checkboxes-label" for="shopping">shopping,</label>

          <input type="checkbox" name="theme" id="luxury" value="luxury" class="sentence-checkboxes-input">
          <label class="sentence-checkboxes-label" for="luxury">luxury,</label>

          <input type="checkbox" name="theme" id="countryside" value="countryside" class="sentence-checkboxes-input">
          <label class="sentence-checkboxes-label" for="countryside">the outdoors.</label>

      </div>
      <div class="wizard-actions">
        <!-- <button class="js-wizard-previous" type="button">Previous</button> -->
        <button class="js-wizard-previous btn-main-yellow small text-size" type="button">Previous</button>
        <button class="js-wizard-next btn-main-yellow small text-size" type="button">Next</button>
      </div>
        <!-- <p><input type="submit" value="Submit"></p> -->
    </div>

    <div class="wizard-steps-step wizard-steps-step-2">
      <p class="wizard-title">Step 2 (of 4)</p>
      <p class="wizard-title">When do you want to travel?</p>
      <div class="month-checkboxes">

          <input type="checkbox" name="month" id="january" value="January" class="month-checkboxes-input">
          <label class="month-checkboxes-label" for="january">January</label>

          <input type="checkbox" name="month" id="february" value="February" class="month-checkboxes-input">
          <label class="month-checkboxes-label" for="february">February</label>

          <input type="checkbox" name="month" id="march" value="March" class="month-checkboxes-input">
          <label class="month-checkboxes-label" for="march">March</label>

          <input type="checkbox" name="month" id="april" value="April" class="month-checkboxes-input">
          <label class="month-checkboxes-label" for="april">April</label>

          <input type="checkbox" name="month" id="may" value="May" class="month-checkboxes-input">
          <label class="month-checkboxes-label" for="may">May</label>

         <input type="checkbox" name="month" id="june" value="June" class="month-checkboxes-input">
         <label class="month-checkboxes-label" for="june">June</label>

          <input type="checkbox" name="month" id="july" value="July" class="month-checkboxes-input">
          <label class="month-checkboxes-label" for="july">July</label>

         <input type="checkbox" name="month" id="august" value="August" class="month-checkboxes-input">
         <label class="month-checkboxes-label" for="august">August</label>

         <input type="checkbox" name="month" id="september" value="September" class="month-checkboxes-input">
         <label class="month-checkboxes-label" for="september">September</label>

          <input type="checkbox" name="month" id="october" value="October" class="month-checkboxes-input">
          <label class="month-checkboxes-label" for="october">October</label>

         <input type="checkbox" name="month" id="november" value="November" class="month-checkboxes-input">
         <label class="month-checkboxes-label" for="november">November</label>

         <input type="checkbox" name="month" id="december" value="December" class="month-checkboxes-input">
         <label class="month-checkboxes-label" for="december">December</label>
      </div>
      <div class="wizard-actions">
        <button class="js-wizard-previous btn-main-yellow small text-size" type="button">Previous</button>
        <button class="js-wizard-next btn-main-yellow small text-size" type="button">Next</button>
      </div>
    </div>

    <div class="wizard-steps-step wizard-steps-step-3">
      <p class="wizard-title">Step 3 (of 4)</p>
      <p class="wizard-title">What temperature do you like?</p>
      <div class="temp-checkboxes">
        <div class="temp-checkboxes-thermometer">
          <div class="temp-checkboxes-options">
            <input type="radio" name="temp" id="hot" value="hot" class="temp-checkboxes-input">
            <label class="temp-checkboxes-label temp-checkboxes-label-top" for="hot">Hot 25째C+</label>

            <input type="radio" name="temp" id="warm" value="warm" class="temp-checkboxes-input">
            <label class="temp-checkboxes-label" for="warm">Warm 20째C+</label>

            <input type="radio" name="temp" id="mild" value="mild" class="temp-checkboxes-input">
            <label class="temp-checkboxes-label" for="mild">Mild 15째C+</label>

            <input type="radio" name="temp" id="cool" value="cool" class="temp-checkboxes-input">
            <label class="temp-checkboxes-label" for="cool">Cool 10째C+</label>

            <div class="temp-checkboxes-thermometer-inner"></div>
          </div>
        </div>
      </div>
      <div class="wizard-actions wizard-actions-thermometer">
          <button class="js-wizard-previous btn-main-yellow small" type="button">Previous</button>
          <button class="js-wizard-next btn-main-yellow small" type="button">Next</button>
        </div>
      <!-- <p><input type="submit" value="Submit"></p> -->
    </div>

    <div class="wizard-steps-step wizard-steps-step-4 ">
      <p class="wizard-title">Step 4 (of 4)</p>
      <p class="wizard-title mb-4">What continent do you want to visit?</p>
      <div class="continent-checkboxes">
          <input type="checkbox" name="region" id="europe" value="europe" class="continent-checkboxes-input">
          <label class="continent-checkboxes-label continent-checkboxes-label-europe" for="europe">
            <img src="<%= asset_path 'europe.svg' %>" alt="Europe"/>
            <span>Europe</span>
          </label>

          <input type="checkbox" name="region" id="north_america" value="north america" class="continent-checkboxes-input">
          <label class="continent-checkboxes-label continent-checkboxes-label-north-america" for="north_america">
            <img src="<%= asset_path 'north_america.svg' %>" alt="North America"/>
            <span>North America</span>
          </label>

          <input type="checkbox" name="region" id="south_america" value="south america" class="continent-checkboxes-input">
          <label class="continent-checkboxes-label continent-checkboxes-label-south-america" for="south_america">
            <img src="<%= asset_path 'south_america.svg' %>" alt="South America"/>
            <span>South America</span>
          </label>

          <input type="checkbox" name="region" id="africa" value="africa" class="continent-checkboxes-input">
          <label class="continent-checkboxes-label continent-checkboxes-label-africa" for="africa">
            <img src="<%= asset_path 'africa.svg' %>" alt="Africa"/>
            <span>Africa</span>
          </label>

          <input type="checkbox" name="region" id="asia" value="asia" class="continent-checkboxes-input">
          <label class="continent-checkboxes-label continent-checkboxes-label-asia" for="asia">
            <img src="<%= asset_path 'asia.svg' %>" alt="Asia"/>
            <span>Asia</span>
          </label>

          <input type="checkbox" name="region" id="oceania" value="oceania" class="continent-checkboxes-input">
          <label class="continent-checkboxes-label continent-checkboxes-label-oceania" for="oceania">
            <img src="<%= asset_path 'australia.svg' %>" alt="Oceania"/>
            <span>Oceania</span>
          </label>

    </div>
    <div class="wizard-actions">
      <button class="js-wizard-previous btn-main-yellow small" type="button">Previous</button>
      <button class="btn-main-yellow small" type="submit">Submit</button>
    </div>

  </div>
</form>

