<!-- <div class="home-banner" style="background-image: url(<%= asset_path 'homepage.png' %>);">
  <div class="inner-banner-container">
    <div class="col">
      <h1>What's the plan for your next trip?</h1>
      <h2>Find, compare and easily plan your next travel destination</h2>
    </div>
    <div class="row justify-content-center">
      <div class="home-search-card">
          <%= simple_form_for :filter_results, url: cities_path, method: :get do |f| %>
            <div>
              <%= f.input :month, collection: %w(January February March April May June July August September October November December) %>
            </div>
            <div class="">
              <%= f.input :themes, collection: %w[Skiing Romantic City Beach Culture], input_html: { multiple: true}, as: :check_boxes %>
              <%= button_tag(type: 'submit', class: "submitbtn") do %>
              <i class="fa fa-search"></i>
              <% end %>
            </div>
          <% end %>
      </div>


    </div>
    <div class="col">
      <h2>350 Cities 190 Countries</h2>

    </div>

  </div> -->
<!-- </div> -->
