<div class="home-banner" style="background-image: url(<%= asset_path 'homepage.png' %>);">
  <div class="inner-banner-container">
    <div class="col">
      <h1>What's the plan for your next trip?</h1>
      <h2>Find, compare and easily plan your next travel destination</h2>
    </div>
    <div class="row">
      <div class="card">
          <%= simple_form_for :filter_results, url: cities_path, method: :get do |f| %>
          <div>
          <%= f.input :themes, collection: %w[Skiing Romantic City Beach Culture], input_html: { multiple: true }, as: :check_boxes %>
          <%= f.input :month, collection: %w(January February March April May June July August September October November December) %>
          </div>
          <%= f.button :submit, "Submit", class: "btn btn-flat"%>
          <% end %>
      </div>

    </div>
    <div class="col">
      <h2>350 Cities 190 Countries</h2>

    </div>

  </div>
</div>

<div class="container mt-5">
  <h1 class="text-center mb-3">Regions to Discover</h1>
  <div class="row">
    <%  @regions.each do |region| %>
      <div class="col-md-3 mb-3">
        <%= render partial: 'shared/regioncard', locals: { region: region } %>
      </div>
    <% end %>
  </div>
  <div class="container my-5">
      <div class="row align-items-center">
        <div class="col-4 text-center">
          <div>
            <img class="home-thumbnail mb-3" src="https://source.unsplash.com/random/500x500/?lama" / alt="home">
            <h5>Personalized Experiences</h5>
          </div>
        </div>
        <div class="col-4 text-center">
          <div>
            <img class="home-thumbnail mb-3" src="https://source.unsplash.com/random/500x500/?lama" / alt="home">
            <h5>Photos and practical information inspiring you</h5>
          </div>
        </div>
        <div class="col-4 text-center">
          <div>
            <img class="home-thumbnail mb-3" src="https://source.unsplash.com/random/500x500/?lama" / alt="home">
            <h5>Booking Partners</h5>
          </div>
        </div>
      </div>
  </div>
  <h1 class="text-center mb-3">Countries to Discover</h1>
  <div class="row">
    <%  @countries.each do |country| %>
    <div class="col-md-3 mb-3">
      <%= render partial: 'shared/countrycard', locals: { country: country } %>
    </div>
    <% end %>
  </div>
  <h1 class="text-center mb-3">Cities to Discover</h1>
  <div class="row">
    <%  @cities.each do |city| %>
      <div class="col-md-3 mb-3">
      <%= render partial: 'shared/citycard', locals: { city: city } %>
      </div>
    <% end %>
  </div>
</div>



