<%= render 'shared/bannercountry' %>
<div class="container-show container mt-5">
  <h1 class="banner-heading-city"><%= @country.name %></h1>

  <div class="row">
    <div class="container-show-inner col-md-9">
       <p class="city-show-description"> New Zealand is an adventure sports junkie's dream. The Tolkien-worthy landscape seems tailor made for adrenaline, and the country that invented bungee jumping takes their adventure seriously. A magical landscape of wild snow-capped mountains, shining lakes, and roaring rivers serves as a giant playground filled with world-class "tramping," skiing, and rafting. When you're done, marvel at the thermal wonders of Rotorua or set out in search of whales and dolphins. While there may be more sheep than people, the friendly English-speaking Kiwis will make you wish there were more of them.

</p>
      <div>
        <h2 class="city-show-sub-headers">Climate</h2>
        <div class="city-climate-text">
          <div class="row text-center mb-3">
            <div class="col-2">
              <div class="card cards-temp">
                <p class="climate-month">January</p>
                <p class="climate-temp"><i class="fas fa-sun"></i> 20°C</p>
              </div>
            </div>
            <div class="col-2">
              <div class="card cards-temp">
                <p class="climate-month">February</p>
                <p class="climate-temp"><i class="fas fa-sun"></i> 20°C</p>
              </div>
            </div>
            <div class="col-2">
              <div class="card cards-temp">
                <p class="climate-month">March</p>
                <p class="climate-temp"><i class="fas fa-sun"></i> 19°C</p>
              </div>
            </div>
            <div class="col-2">
              <div class="card cards-temp">
                <p class="climate-month">April</p>
                <p class="climate-temp"><i class="fas fa-sun"></i> 17°C</p>
              </div>
            </div>
            <div class="col-2">
              <div class="card cards-temp">
                <p class="climate-month">May</p>
                <p class="climate-temp"><i class="fas fa-sun"></i> 14°C</p>
              </div>
            </div>
            <div class="col-2">
              <div class="card cards-temp">
                <p class="climate-month">June</p>
                <p class="climate-temp"><i class="fas fa-sun"></i> 12°C</p>
              </div>
            </div>
          </div>
          <div class="row text-center mb-3">
            <div class="col-2">
              <div class="card cards-temp">
                <p class="climate-month">July</p>
                <p class="climate-temp"><i class="fas fa-sun"></i> 11°C</p>
              </div>
            </div>
            <div class="col-2">
              <div class="card cards-temp">
                <p class="climate-month">August</p>
                <p class="climate-temp"><i class="fas fa-sun"></i> 12°C</p>
              </div>
            </div>
            <div class="col-2">
              <div class="card cards-temp">
                <p class="climate-month">September</p>
                <p class="climate-temp"><i class="fas fa-sun"></i> 13°C</p>
              </div>
            </div>
            <div class="col-2">
              <div class="card cards-temp">
                <p class="climate-month">October</p>
                <p class="climate-temp"><i class="fas fa-sun"></i> 15°C</p>
              </div>
            </div>
            <div class="col-2">
              <div class="card cards-temp">
                <p class="climate-month">November</p>
                <p class="climate-temp"><i class="fas fa-sun"></i> 16°C</p>
              </div>
            </div>
            <div class="col-2">
              <div class="card cards-temp">
                <p class="climate-month">December</p>
                <p class="climate-temp"><i class="fas fa-sun"></i> 18°C</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h2 class="city-show-sub-headers">Information</h2>
      <div class="row mb-3">
        <div class="col-6">
          <div class="card p-2 m-0 rounded-show-box">
            <div class="city-info-text d-flex justify-content-between">
              <p class="show-info-title">Language</p>
              <p class="show-info-title">English</p>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card p-2 m-0 rounded-show-box">
            <div class="city-info-text d-flex justify-content-between">
              <p class="show-info-title">Safety</p>
              <p class="show-info-title"><%= int_as_safety_score(CityFeature.joins(:feature, :city).where(features: { name: "Crime rate" }, cities: { country_id: @country.id }).average(:score).to_i) %></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="card p-3 rounded-show-box">
            <div class="city-info-text d-flex justify-content-between border-show">
              <h2>Cost of Living</h2>
              <%= int_as_cost_of_living_score(CityFeature.joins(:feature, :city).where(features: { name: "Cost of living" }, cities: { country_id: @country.id }).average(:score)) %></i>
            </div>
            <div class="row p-2">
              <div class="d-flex justify-content-between width-100 city-info-content-text">
                <p class="show-subtitle">Beer</p>
                <p class="show-subtitle-data">$ <%= CityFeature.joins(:feature, :city).where(features: { name: "Beer" }, cities: { country_id: @country.id }).average(:score).truncate(2) %></p>
              </div>
            </div>
            <div class="row p-2">
              <div class="d-flex justify-content-between width-100 city-info-content-text">
                <p class="show-subtitle">Cappuchino</p>
                <p class="show-subtitle-data">$ <%= CityFeature.joins(:feature, :city).where(features: { name: "Cappucino" }, cities: { country_id: @country.id }).average(:score).truncate(2) %></p>
              </div>
            </div>
            <div class="row p-2">
              <div class="d-flex justify-content-between width-100 city-info-content-text">
                <p class="show-subtitle">Bread</p>
                <p class="show-subtitle-data">$ <%= CityFeature.joins(:feature, :city).where(features: { name: "Bread" }, cities: { country_id: @country.id }).average(:score).truncate(2) %></p>
              </div>
            </div>
            <div class="row p-2">
              <div class="d-flex justify-content-between width-100 city-info-content-text">
                <p class="show-subtitle">Lunch</p>
                <p class="show-subtitle-data">$ <%= CityFeature.joins(:feature, :city).where(features: { name: "Lunch" }, cities: { country_id: @country.id }).average(:score).truncate(2) %></p>
              </div>
            </div>
            <div class="row p-2">
              <div class="d-flex justify-content-between width-100 city-info-content-text">
                <p class="show-subtitle">One-way Taxi</p>
                <p class="show-subtitle-data">$ <%= CityFeature.joins(:feature, :city).where(features: { name: "Taxi ride" }, cities: { country_id: @country.id }).average(:score).truncate(2) %></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card p-3 rounded-show-box">
            <div class="city-info-text d-flex justify-content-between border-show">
              <h2>Healthcare</h2>
            </div>
            <div class="row p-2">
                <div class="d-flex justify-content-between width-100 city-info-content-text">
                  <p class="show-subtitle">Air Quality</p>
                  <p class="show-subtitle-data"><%= int_as_stars(CityFeature.joins(:feature, :city).where(features: { name: "Air pollution" }, cities: { country_id: @country.id }).average(:score).to_i) %></p>
                </div>
              </div>
               <div class="row p-2">
                  <div class="d-flex justify-content-between width-100 city-info-content-text">
                    <p class="show-subtitle">Cleanliness</p>
                    <p class="show-subtitle-data"><%= int_as_stars(CityFeature.joins(:feature, :city).where(features: { name: "Cleanliness" }, cities: { country_id: @country.id }).average(:score).to_i)  %></p>
                  </div>
              </div>
               <div class="row p-2">
                  <div class="d-flex justify-content-between width-100 city-info-content-text">
                    <p class="show-subtitle">Drinking Water</p>
                    <p class="show-subtitle-data"><%= int_as_stars(CityFeature.joins(:feature, :city).where(features: { name: "Cleanliness" }, cities: { country_id: @country.id }).average(:score).to_i)  %></p>
                  </div>
              </div>
          </div>
        </div>
      </div>

      <div class="col">
        <h2 class="city-show-sub-headers my-3">Cities of <%= @country.name %></h2>
        <div class="row">
          <%  @cities.each do |city| %>
          <div class="col-md-4 mb-3">
            <%= render partial: 'shared/citycard', locals: { city: city } %>
          </div>
          <% end %>
        </div>
        <div class="my-4">
        </div>
      </div>
    </div>
    <div class="col-md-3">
        <div class="card">
          <div class="booking-prov-amount">
            <p class="booking-prov-text">150+ booking providers available for your travel</p>
            <div>
             <%= image_tag "wicked.jpeg", class: "avatar show-page-logos" %>
             <%= image_tag "workflow.jpeg", class: "avatar show-page-logos"%>
             <%= image_tag "airnz.jpeg", class: "avatar show-page-logos"%>
             <%= image_tag "agoda.png", class: "avatar show-page-logos"%>
             <%= image_tag "islander.jpeg", class: "avatar show-page-logos"%>
            </div>
              <%= link_to "Booking providers", country_booking_providers_path(@country) , class: "btn-main-pink1 small booking-button" %>
          </div>
        </div>
      <div class="sky-widget">
        <div data-skyscanner-widget="SearchWidget"></div>
        <script src="https://widgets.skyscanner.net/widget-server/js/loader.js" async></script>
      </div>
    </div>
  </div>
</div>

