<%= render 'shared/bannercountry' %>

<div class="container-show container mt-5">
 <div class="row">
    <div class="container-show-inner col-md-9">
      <div>
        <h2>Cost of Living</h2>
        <div class="card">
          <div class="row text-center my-3 px-2">
            <div class="col">
                  <img class="show-thumbnail mb-3" src="https://source.unsplash.com/random/500x500/?pint" / alt="home">
                  <p>Beer</p>
                  <p>$5</p>
                </div>
                <div class="col">
                  <img class="show-thumbnail mb-3" src="https://source.unsplash.com/random/500x500/?coffee" / alt="home">
                  <p>Coffee</p>
                  <p>$5</p>
                </div>
                <div class="col">
                  <img class="show-thumbnail mb-3" src="https://source.unsplash.com/random/500x500/?sandwich" / alt="home">
                  <p>Lunch</p>
                  <p>$5</p>
                </div>
                <div class="col">
                  <img class="show-thumbnail mb-3" src="https://source.unsplash.com/random/500x500/?plane" / alt="home">
                  <p>One-way Ticket</p>
                  <p>$5</p>
                </div>
                <div class="col">
                  <img class="show-thumbnail mb-3" src="https://source.unsplash.com/random/500x500/?petrol" / alt="home">
                  <p>Gasoline</p>
                  <p>$5</p>
                </div>
                <div class="col">
                  <img class="show-thumbnail mb-3" src="https://source.unsplash.com/random/500x500/?taxi" / alt="home">
                  <p>Taxi</p>
                  <p>$5</p>
                </div>
                <div class="col">
                  <img class="show-thumbnail mb-3" src="https://source.unsplash.com/random/500x500/?waterbottle" / alt="home">
                  <p>Water</p>
                  <p>$5</p>
                </div>
          </div>
        </div>
      </div>
      <div>
         <h2>Climate</h2>
          <div class="card">
            <div class="row text-center p-3">
              <div class="col">
                <i class="fas fa-sun" style="font-size:48px; color:#eee;"></i>
              </div>
               <div class="col">
                <i class="fas fa-cloud-showers-heavy" style="font-size:48px; color:#eee;"></i>
              </div>
               <div class="col">
                <i class="fas fa-cloud-sun"  style="font-size:48px; color:#eee;"></i>
              </div>
            </div>
          </div>
      </div>
      <div class="row">
        <div class="col-6">
          <h2>Environment Quality</h2>
          <div class="card p-3">
            <div class="row">
                  <div class="col-md-8">
                    Air quality
                  </div>
                  <div class="col-md-4 text-right">
                    <span class="badge badge-success">Very good</span>
                  </div>
              </div>
               <div class="row">
                  <div class="col-md-8">
                    Drinking water quality
                  </div>
                  <div class="col-md-4 text-right">
                    <span class="badge badge-success">Very good</span>
                  </div>
              </div>
               <div class="row">
                  <div class="col-md-8">
                    Cleanliness
                  </div>
                  <div class="col-md-4 text-right">
                    <span class="badge badge-success">Very good</span>
                  </div>
              </div>
          </div>

        </div>
        <div class="col-6">
          <h2>Safety</h2>
          <div class="card p-3">
              <div class="row">
                  <div class="col-md-8">
                    Crime Rate
                  </div>
                  <div class="col-md-4 text-right">
                    <span class="badge badge-success">Very good</span>
                  </div>
              </div>
               <div class="row">
                  <div class="col-md-8">
                   Sex Rate
                  </div>
                  <div class="col-md-4 text-right">
                    <span class="badge badge-danger">Very Expensive</span>
                  </div>
              </div>
          </div>
        </div>
      </div>
      <div class="col">
        <h2 class="my-3">Cities of <%= @country.name %></h2>
        <div class="row">
          <%  @cities.each do |city| %>
            <div class="col-md-3 mb-3">
              <%= render partial: 'shared/citycard', locals: { city: city } %>
            </div>
          <% end %>
      </div>


       </div>
      <div class="col">
          <div
          id="map"
          style="width: 100%;
          height: 600px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        ></div>
      </div>

    </div>
    <div class="col-md-3">
      <div>
        <div class="card p-3 mb-5">
          <h2>X booking providers</h2>
          <h3>available for your travel</h3>
          <%= link_to "Booking providers", city_booking_providers_path(:id) , class: "btn-main-pink large" %>
        </div>

      </div>
      <div>
        <div data-skyscanner-widget="SearchWidget"></div>
        <script src="https://widgets.skyscanner.net/widget-server/js/loader.js" async></script>
      </div>
    </div>

  </div>
</div>




