
<div class="header">
  <a href="#default" class="logo">My Next Trip</a>
  <div class="header-right">
    <%= link_to "All", cities_path %>
    <%= link_to "Countries", countries_path %>
    <%= link_to "Cities", cities_path %><p> <<< At the moment the "cities" button directs to the same index as the "All" button</p>
  </div>
</div>

<div class="container">
  <h1>Hello from the city index page</h1>

    <%  @cities.each do |city| %>
        <section>
        <h2>City card</h2>
        <%= link_to "City show page", city_path(city.id) %>
          <div class="city-card">
            <img class="city-card-image" src="https://source.unsplash.com/random/500x500/?lisbon" />
            <h3 class="city-card-temp">25°C</h3>
            <div class="city-card-content">
                <h2 class="city-card-title"><%= city.name %></h2>
                <h3 class="city-card-country"><%= city.country.name %></h3>
            </div>
          </div>
        <section>
    <% end %>

    <%  @countries.each do |country| %>
      <section>
        <h2>Country card</h2>
        <!-- = link_to "City show page", city_path(:id) do %> -->
          <div class="country-card">
            <img class="country-card-image" src="https://source.unsplash.com/random/500x500/?portugal" />
            <h3 class="country-card-temp">25°C</h3>
            <div class="country-card-content">
                <h2 class="country-card-title"> <%= country.name %></h2>
            </div>
          </div>
        <!-- % end %> -->

      </section>
      <% end %>

</div>

<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
