<div class="index-container">
  <div class="index-container-column">
    <div class="index-container-column-1">
      SideBar
    </div>
    <div class="index-container-column-2">
      <div class="header">
        <a href="#default" class="logo">My Next Trip</a>
        <div class="header-right">
          <%= link_to "All", cities_path %>
          <%= link_to "Countries", countries_path %>
          <%= link_to "Cities", cities_path %><p> <<< At the moment the "cities" button directs to the same index as the "All" button</p>
        </div>
      </div>

      <h1>Hello from the city index page</h1>

      <div class="index-grid">
        <%  @cities.each do |city| %>
          <%= render partial: 'shared/citycard', locals: { city: city } %>
        <% end %>
      </div>

      <div class="index-grid">
        <%  @countries.each do |country| %>
          <%= render partial: 'shared/countrycard', locals: { country: country } %>
        <% end %>
      </div>
      <div
      id="map"
      style="width: 100%;
      height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
    </div>
  </div>
</div>
