<%= render 'shared/banner' %>

<div class="container-show container mt-5">

  <h1 class="banner-heading-city"><%= @city.name %></h1>
  <h2 class="banner-heading-country"><%= @city.country.name %></h2>

  <div class="row">
    <div class="container-show-inner col-md-9">
          <p class="city-show-description"><%= @city.name %> besides being the biggest city in <%= @city.country.name %> and home to more than 50 volcanoes, is also ranked as one of the top 5 cities to live in when it comes to quality of life. One of the coolest things about this place is the amazing hiking route from the Pacific Ocean to the Tasman Sea in only 4 hours.  It is 16km long and attracts thousands of tourists each year. If you are searching for high-quality dining, you will be happy to discover that <%= @city.name %> has over 800 restaurants with many award-winning chefs from all over the world preparing delicious meals.

The sky tower offers an amazing panoramic view over the city and has many awesome bars and restaurants. For a real <%= @city.name %> experience, there is the <%= @city.country.name %> Maritime Museum that includes 14 galleries and tells stories of the country’s maritime heritage. If you are on vacation with children, Kelly Tarlton’s Sea Life Aquarium with its friendly sea creatures such as penguins and sharks is a must-visit tourist spot. For a class in history in art, it is best to head out to the <%= @city.name %> War Memorial Museum and the <%= @city.name %> art gallery.</p>

          <div>
            <h2 class="city-show-sub-headers">Climate</h2>
            <div class="city-climate-text">
              <div class="row text-center p-3">
                <div class="col-2">
                  <div class="card cards-temp">
                    <p class="climate-month">January</p>
                    <p class="climate-temp"><i class="fas fa-sun"></i>20°C</p>
                  </div>

                </div>
                <div class="col-2">
                  <div class="card cards-temp">
                    <p class="climate-month">February</p>
                    <p class="climate-temp"><i class="fas fa-sun"></i> 20°C</p>
                  </div>
                </div>
                <div class="col-2">
                  <div class="card cards-temp">
                    <p class="climate-month">March</p>
                    <p class="climate-temp"><i class="fas fa-sun"></i> 19°C</p>
                  </div>
                </div>
                <div class="col-2">
                  <div class="card cards-temp">
                    <p class="climate-month">April</p>
                    <p class="climate-temp"><i class="fas fa-sun"></i> 17°C</p>
                  </div>
                </div>
                <div class="col-2">
                  <div class="card cards-temp">
                    <p class="climate-month">May</p>
                    <p class="climate-temp"><i class="fas fa-sun"></i> 14°C</p>
                  </div>
                </div>
                <div class="col-2">
                  <div class="card cards-temp">
                    <p class="climate-month">June</p>
                    <p class="climate-temp"><i class="fas fa-sun"></i> 12°C</p>
                  </div>
                </div>
              </div>
              <div class="row text-center p-3">
                <div class="col-2">
                  <div class="card cards-temp">
                    <p class="climate-month">July</p>
                    <p class="climate-temp"><i class="fas fa-sun"></i> 11°C</p>
                  </div>

                </div>
                <div class="col-2">
                  <div class="card cards-temp">
                    <p class="climate-month">August</p>
                    <p class="climate-temp"><i class="fas fa-sun"></i> 12°C</p>
                  </div>
                </div>
                <div class="col-2">
                  <div class="card cards-temp">
                    <p class="climate-month">September</p>
                    <p class="climate-temp"><i class="fas fa-sun"></i> 13°C</p>
                  </div>
                </div>
                <div class="col-2">
                  <div class="card cards-temp">
                    <p class="climate-month">October</p>
                    <p class="climate-temp"><i class="fas fa-sun"></i> 15°C</p>
                  </div>
                </div>
                <div class="col-2">
                  <div class="card cards-temp">
                    <p class="climate-month">November</p>
                    <p class="climate-temp"><i class="fas fa-sun"></i> 16°C</p>
                  </div>
                </div>
                <div class="col-2">
                  <div class="card cards-temp">
                    <p class="climate-month">December</p>
                    <p class="climate-temp"><i class="fas fa-sun"></i> 18°C</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <h2 class="city-show-sub-headers">Information</h2>
            <div class="row p-3">
              <div class="col-6 card p-2 m-0">
                <div class="city-info-text d-flex justify-content-between">
                  <p class="show-info-title">Language</p>
                  <p class="">English</p>
                </div>
              </div>
              <div class="col-6 card p-2 m-0">
                <div class="city-info-text d-flex justify-content-between">
                  <p class="show-info-title">Safety</p>
                  <p class=""><%= CityFeature.joins(:feature).find_by(features: { name: "Crime rate" }, city: @city).safety_score  %></p>

                </div>
              </div>
            </div>
        <div class="row">
          <div class="col-6">
            <div class="card p-3">
              <div class="city-info-text d-flex justify-content-between border-show">
                <h2>Cost of Living</h2>
                <div class="">
                  <!-- % review.rating.times do  %> -->
                    <%= CityFeature.joins(:feature).find_by(features: { name: "Beer" }, city: @city).cost_of_living_score %></i>
                  <!-- % end %> -->
                </div>
              </div>
              <div class="row p-2">
                <div class="d-flex justify-content-between width-100 city-info-content-text">
                  <p class="show-subtitle">Beer</p>
                  <p class="show-subtitle-data">$ <%= CityFeature.joins(:feature).find_by(features: { name: "Beer" }, city: @city).score  %></p>

                </div>
              </div>
               <div class="row p-2">
                  <div class="d-flex justify-content-between width-100 city-info-content-text">
                    <p class="show-subtitle">Cappuchino</p>
                    <p class="show-subtitle-data">$ <%= CityFeature.joins(:feature).find_by(features: { name: "Cappucino" }, city: @city).score  %></p>

                  </div>
              </div>
               <div class="row p-2">
                  <div class="d-flex justify-content-between width-100 city-info-content-text">
                    <p class="show-subtitle">Bread</p>
                    <p class="show-subtitle-data">$ <%= CityFeature.joins(:feature).find_by(features: { name: "Bread" }, city: @city).score.round(2)  %></p>

                  </div>
              </div>
              <div class="row p-2">
                  <div class="d-flex justify-content-between width-100 city-info-content-text">
                    <p class="show-subtitle">Lunch</p>
                    <p class="show-subtitle-data">$ <%= CityFeature.joins(:feature).find_by(features: { name: "Lunch" }, city: @city).score  %></p>
                  </div>
              </div>
              <div class="row p-2">
                  <div class="d-flex justify-content-between width-100 city-info-content-text">
                    <p class="show-subtitle">One-way Taxi</p>
                    <p class="show-subtitle-data">$ <%= CityFeature.joins(:feature).find_by(features: { name: "Taxi ride" }, city: @city).score  %></p>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="card p-3">
              <div class="city-info-text d-flex justify-content-between border-show">
                <h2>Culture</h2>
              </div>
              <div class="row p-2">
                  <div class="d-flex justify-content-between width-100 city-info-content-text">
                    <p class="show-subtitle">Art Galleries</p>
                    <p class="show-subtitle-data"><%= CityFeature.joins(:feature).find_by(features: { name: "Art Galleries" }, city: @city).star_score  %></p>
                  </div>
              </div>
              <div class="row p-2">
                  <div class="d-flex justify-content-between width-100 city-info-content-text">
                    <p class="show-subtitle">Concerts</p>
                    <p class="show-subtitle-data"><%= CityFeature.joins(:feature).find_by(features: { name: "Concerts" }, city: @city).star_score  %></p>
                  </div>
              </div>
              <div class="row p-2">
                  <div class="d-flex justify-content-between width-100 city-info-content-text">
                    <p class="show-subtitle">Historical Sites</p>
                    <p class="show-subtitle-data"><%= CityFeature.joins(:feature).find_by(features: { name: "Historical sites" }, city: @city).star_score  %></p>
                  </div>
              </div>
              <div class="row p-2">
                  <div class="d-flex justify-content-between width-100 city-info-content-text">
                    <p class="show-subtitle">Museums</p>
                    <p class="show-subtitle-data"><%= CityFeature.joins(:feature).find_by(features: { name: "Museums" }, city: @city).star_score  %></p>
                  </div>
              </div>
              <div class="row p-2">
                  <div class="d-flex justify-content-between width-100 city-info-content-text">
                    <p class="show-subtitle">Sports</p>
                    <p class="show-subtitle-data"><%= CityFeature.joins(:feature).find_by(features: { name: "Sports" }, city: @city).star_score  %></p>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row my-4">
          <div class="col-6">
            <div class="card p-3">
              <div class="city-info-text d-flex justify-content-between border-show">
                <h2>Healthcare</h2>
              </div>
              <div class="row p-2">
                <div class="d-flex justify-content-between width-100 city-info-content-text">
                  <p class="show-subtitle">Air Quality</p>
                  <p class="show-subtitle-data"><%= CityFeature.joins(:feature).find_by(features: { name: "Air pollution" }, city: @city).star_score  %></p>
                </div>
              </div>
               <div class="row p-2">
                  <div class="d-flex justify-content-between width-100 city-info-content-text">
                    <p class="show-subtitle">Cleanliness</p>
                    <p class="show-subtitle-data"><%= CityFeature.joins(:feature).find_by(features: { name: "Cleanliness" }, city: @city).star_score  %></p>
                  </div>
              </div>
               <div class="row p-2">
                  <div class="d-flex justify-content-between width-100 city-info-content-text">
                    <p class="show-subtitle">Drinking Water</p>
                    <p class="show-subtitle-data"><%= CityFeature.joins(:feature).find_by(features: { name: "Drinking water" }, city: @city).star_score  %></p>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="card p-3">
              <div class="city-info-text d-flex justify-content-between border-show">
                <h2>Internet Speed</h2>
              </div>
              <div class="row p-2">
                  <div class="d-flex justify-content-between width-100 city-info-content-text">
                    <p class="show-subtitle">Download Speed</p>
                    <p class="show-subtitle-data"><%= CityFeature.joins(:feature).find_by(features: { name: "Internet download" }, city: @city).score.truncate %> mbs</p>
                  </div>
              </div>
              <div class="row p-2">
                  <div class="d-flex justify-content-between width-100 city-info-content-text">
                    <p class="show-subtitle">Upload Speed</p>
                    <p class="show-subtitle-data"><%= CityFeature.joins(:feature).find_by(features: { name: "Internet upload" }, city: @city).score.truncate %> mbs</p>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="my-4">
          <div
          id="map"
          style="width: 100%;
          height: 600px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
          ></div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
          <div class="booking-prov-amount">
            <p>48 booking providers available for your travel</p>
            <div class="show-page-logos">
             <%= image_tag "wicked.jpeg", class: "avatar show-page-logos" %>
             <%= image_tag "workflow.jpeg", class: "avatar show-page-logos"%>
             <%= image_tag "airnz.jpeg", class: "avatar"%>
             <%= image_tag "agoda.png", class: "avatar"%>
            </div>
            <%= link_to "Booking providers", city_booking_providers_path(@city) , class: "btn-main-pink small" %>
          </div>
        </div>
      <div>
        <div data-skyscanner-widget="SearchWidget"></div>
        <script src="https://widgets.skyscanner.net/widget-server/js/loader.js" async></script>
      </div>
    </div>

  </div>
</div>

