<%= render 'shared/banner' %>


<div class="container">
  <h1>Hello from the city show page</h1>
  <h2>This page will display all the features of a given city.</h2>

  <%= link_to "Booking providers", city_booking_providers_path(:id) %>
  <p> ^^^^ This button is for when the user clicks 'Show booking parnters' button</p>



  <h1><%= @city.name %></h1>
  <h1><%= @city.country.name %></h1>

  <div data-skyscanner-widget="SearchWidget"></div>
  <script src="https://widgets.skyscanner.net/widget-server/js/loader.js" async></script>

</div>


<div>
    <div
    id="map"
    style="width: 100%;
    height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</div>
